<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
</head>
<body>
    <h1>Realize o cadastro do produto</h1>  
    <form method="POST">
        
        {{ form.hidden_tag() }}

        <label for="nome">{{ form.nome.label }}</label>
        {{ form.nome() }}<br>

        <label for="descricao">{{ form.descricao.label }}</label>
        {{ form.descricao()}}<br>

        <label for="valor">{{ form.valor.label }}</label>
        {{ form.valor()}}<br>

        <label for="disponibilidade">{{ form.disponibilidade.label}}</label>
        {{ form.disponibilidade()}}<br>

        {{ form.botao() }}

    </form>
</body>
</html>